<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Archetype Created Web Application</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>controller.servlets.RegServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>controller.servlets.AuthServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaveCarServlet</servlet-name>
        <servlet-class>controller.servlets.SaveCarServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SaveCarServlet</servlet-name>
        <url-pattern>/saveCar.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCarsServlet</servlet-name>
        <servlet-class>controller.servlets.GetCarsServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetCarsServlet</servlet-name>
        <url-pattern>/cars.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetPhotoServlet</servlet-name>
        <servlet-class>controller.servlets.GetPhotoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetPhotoServlet</servlet-name>
        <url-pattern>/photo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCarByIdServlet</servlet-name>
        <servlet-class>controller.servlets.GetCarByIdServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetCarByIdServlet</servlet-name>
        <url-pattern>/carInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCarsByUser</servlet-name>
        <servlet-class>controller.servlets.GetCarsByUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetCarsByUser</servlet-name>
        <url-pattern>/carsUser.auth</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filter.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*.auth</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>UserCabinetServlet</servlet-name>
        <servlet-class>controller.servlets.UserCabinetServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserCabinetServlet</servlet-name>
        <url-pattern>/cabinet.auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateCarStatusServlet</servlet-name>
        <servlet-class>controller.servlets.UpdateCarStatusServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateCarStatusServlet</servlet-name>
        <url-pattern>/update.auth</url-pattern>
    </servlet-mapping>
</web-app>
